:root {
  --button: #d00000;
  --background: #f3f4f6;
  --text: #0d0d0d;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

body {
  background: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

.btn {
  background: var(--button);
  color: white;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  color: #fff;
  box-shadow: 0px 6px 15px var(--button);
}

.form-control:focus {
  border-color: var(--button);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--button);
}

.custom-select:focus {
  border-color: var(--button);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--button);
}

.viewFeedback {
  background: #f3f4f6;
  border: none;
  color: red;
  font-weight: 600;
}

.card-header {
  background: var(--button);
  color: white;
}

/* =========================mainNav========================= */
.menu-bar {
  background-image: linear-gradient(-90deg, #ff9966, #ff5e62);
}

.nav-link {
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff !important;
  margin: 3px 0.5rem;
  border: 1px solid transparent;
}

.navbar-nav {
  text-align: right;
  margin-right: 20px;
}

.menu-bar .nav-bar-toggler {
  padding-right: 20px;
  outline: none !important;
  border: none !important;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 1.75rem;
  color: #fff;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar .fas {
  color: #fff !important;
  font-size: 24px;
}

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

.active-item .nav-link {
  font-weight: 600;
  border-bottom: 1px solid #fff;
}

@media only screen and (max-width: 540px) {
  .nav-link:hover {
    border-bottom: 1px solid transparent;
  }
}

.user-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10rem;
}

.user-btn:focus {
  box-shadow: none;
}

.login-btn {
  padding: 5px 5px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0.8rem;
  font-weight: bold;
  font-size: 1rem;
  transform: translateY(5px);
}

.login-btn:focus {
  box-shadow: none;
}

.login-btn:hover {
  color: white;
}

.dropdown-item:focus {
  background-color: var(--button) !important;
}

.dropdown-item:hover {
  background-color: #eee;
}

/* ================================================== */

/* =========================Event Page========================= */

.price-box {
  margin-top: 2.5rem;
  background-color: #fff;
  padding: 4.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.title-a {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.title-a i {
  transform: translateY(-2px);
}

.searchBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #2f3640;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

.event__item {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--text);
}

.event__item__title,
.event__item__title:hover {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text);
  text-decoration: none;
}

.trainingpoint {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #358f80;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  border-radius: 100px;
}

.event__item-info {
  font-weight: 400;
  margin: 5px 0;
}

.event__item-info span {
  margin-left: 0.5rem;
}

.event__item-info i {
  width: 20px;
}

.for-more-info {
  color: var(--button);
  text-decoration: underline;
}

.for-more-info:hover {
  color: var(--button);
}

.event__register-btn {
  margin-top: 5px;
  padding: 3px 0;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.event__register-btn:hover {
  color: #fff;
  box-shadow: 0px 6px 15px var(--button);
}

.event__create {
  padding: 1rem 3rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.event__rmv-btn {
  width: 85px !important;
  padding: 3px 0;
  font-weight: 500;
  border-radius: 5px;
}

.event__rmv-btn i {
  margin-left: 0.5rem;
}

/* ================================================== */
/* =========================Event Detail Page========================= */
.event__detail {
  margin: 6rem 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--text);
}

.event__detail__title {
  font-size: 2rem;
  font-weight: bold;
}
/* ================================================== */

table thead {
  background: #ef9273;
  color: white;
  text-align: center;
}

table tbody {
  background: white;
  text-align: center;
}
